.thumbnail {
  border: 2px solid #77C0D0;
  padding: 5px;
  width: 150px;
  height: 150px;
}

a {
    color: #AE7557;
    text-decoration: none;
    background-color: transparent;
}

body {
/* font-family: 'Judson', serif;*/
 font-family: 'Overpass', Sans-Serif;
 font-weight: 300;
 color: #343D3C;
}

h1, h2, h3, h4, h5, h6 {
 /*font-family: 'Archivo Black', sans-serif;*/
 font-family: 'Permanent Marker', Cursive;
 color: #343D3C;
}

.cover h1, h2, h3, h4, h5, h6 {
 /*font-family: 'Archivo Black', sans-serif;*/
 font-family: 'Permanent Marker', Cursive;
 color: #343D3C;
}
small {
  padding:3px;
  margin-left: 15px;
}
/*Font-Family: 'Permanent Marker', Cursive;
Font-Size: 55px;
Font-Family: 'Overpass', Sans-Serif;
Font-Size: 17px;
*/
.cover {
  height: 100%;
  font-family: 'Overpass', sans-serif;
  background-image:url('/static/img/camel.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
 
}
.cover-container {
  padding-left: 200px;
  padding-top: 150px;
  padding-bottom:275px;
  padding-right: 275px;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.reg-cover{
  height: 100%;
  background-image:url('/static/img/china-ag.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}

.reg-container {
  padding-left: 400px;
  padding-top: 150px;
  padding-bottom:275px;
  padding-right: 400px;
}


.list-group-item.active {
    z-index: 2;
    margin:15px;
    display: block;
    padding: .75rem 1.25rem;
    color: #232426;
    border-color:#fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: #fff;

}

.btn-secondary {
  width:150px;
  height:40px;
  margin:5px;
  color: #212626;
  background-color: #77C0D0;
  border-color: #77C0D0;
}

.btn-primary {
    width:35%;
    margin:10px;
    color: #212626;
    background-color: #77C0D0;
    border-color: #77C0D0;
    opacity: 1;
}

.form-control {
  margin:10px;
}

.navbar {
  font-weight:700;
  color: #343D3C;
  box-shadow: 0px 0px 5px #343D3C;
}

.navbar-nav{
  margin-left: auto;
  font-size: 12;
}

#traveler-header {
  text-align: center;
  display: block;
  padding:30px;
  box-shadow: 0px 0px 5px #343D3C;
}

#trip-buckets {
  text-align: center;
}

.buckets1{
  box-shadow: 0px 90px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.22);
  min-height: 390px;
  padding-top:15px;
  margin: 1rem;
}
.buckets2{
  box-shadow: 0px 90px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.22);
  min-height: 390px;
  padding-top:15px;
  margin: 1rem;
}
.buckets3{
  box-shadow: 0px 90px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.22);
  min-height: 350px;
  padding-top: 15px;
  margin: 1rem;

}

.innerbucket li{
  background: none;
}


/*
 * Footer/**/
 
.mastfoot {
  text-align: center;
  color: #343D3C;
}

/*Map CSS*/

#map-container {
height: 90vh;
margin: 15px;
margin-left: 75px;
margin-bottom: 100px;
box-shadow: 0px 90px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.22);
}

#map {
height:100vh;
width: 95;

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Overpass;
        font-size: 15px;
        font-weight: 300;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Overpass;
      }

      #pac-container {
        padding-top: 12px;
        padding-bottom: 6px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Overpass;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Overpass;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
        }