{% extends 'base.html'%}

{%block title%}About WOM{%endblock%}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="World of Mouth travel site">
<meta name="author" content="Brittney Huttner">
{%endblock%}

{% block body%}

<div class="about-container">

<div class="row">
<img src="/static/img/malaysia.jpeg"class="me col-sm">
</img>
<div class="text col-sm">
<p style="font-family:'Permanent Marker', Cursive; "> <----- That's me in Malaysia!</p>
<br>
<h3 class="about-heading" style="font-size: 56px; text-align: center;"> Hi, I'm Britt!</h3>

<br>
<p>In 2018, I backpacked solo for about 5 months, during this trip I visited 14 countries. Just me and my backpack.</p>
<br>
<p>Planning my travels took up a lot of my time. I noticed there wasn't a resource available to travelers, especially backpackers to see how others made their way through a region. Most of my planning ended up happening via word of mouth(do you get the name now?) when talking to others in the hostels.
</p>
<br>
<p>
I wanted to create a platform that would allow users to share and search this valuable information. So here it is. I hope it makes you want to book a ticket, for 2021 of course.</p>
<br>
<br>
<p style="font-family: 'Permanent Marker', Cursive; text-align: right;">That's my trusty backpack! -----> </p>
</div>
<img src="/static/img/backpack.jpeg"class="backpack col-sm">
</img>
</div>
</div>


{%endblock%}