{% extends 'base.html'%}

{%block title%}World of Mouth{%endblock%}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="World of Mouth travel site">
<meta name="author" content="Brittney Huttner">
{%endblock%}

{% block body%}
<body class="cover">
<div class="cover-container">
<div class="text-center">

      <h1 class="cover-heading" style="font-size: 56px">Oh, the places you can go.</h1>
      <p class="lead" style="font-size: 24px">Sometimes the path most taken is what we should choose, search your next destination to see other traveler's routes.</p>


      <!--Form to search places-->
      <form action = "/view_routes/" id = "get-trips" method="POST">
        <div class="search">
          <div class="panel panel-primary">
            <div class="panel-heading">
            <div class="panel-body">
              <input type="text" id="autocompleteMain" name= "country-code" placeholder="Search your next destination by country" class="main-search form-control" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="panel-body">
            <!--<label class="control-label">First stop of trip</label>-->
            <input type="text" class="is_start form-control" id="autocompleteIsStart" name="is-start" placeholder="Search by first city"/>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel-body">
            <!--<label type="text" class="control-label">Last stop of trip</label>-->
            <input type="text" class="is_end form-control" id="autocompleteIsEnd" name="is-end" placeholder="Search by last city"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!--<label class="control-label">Trip type</label>-->
          <select type="dropdown" name="trip-type" class="form-control field">
            <option value="" disabled selected>Select a trip type</option>
            <option value="1">solo</option>
            <option value="2">group</option>
            <option value="3">couples</option>
            <option value="4">food</option>
            <option value="5">adventure</option>
            <option value="6">health</option>
            <option value="7">culture</option>
            <option value="8">backpacking</option>
            <option value="9">digital nomad</option>
          </select>
        </div>
        <div class="col-md-6">
          <!--<label class="control-label">Length of trip</label>-->
          <select type= "dropdown" class="form-control field" id="trip_length"
          name="trip-length" placeholder="length of trip">
          <option value="" disabled selected>Select desired trip length</option>
          <option value="7"><7 days</option>
            <option value="11">7-10 days</option>
            <option value="15">11-14 days</option>
            <option value="16">15+ days</option>
          </select>
        </div>
      </div>
      <p class="lead">
        <input type="submit" class="btn btn-md btn-primary"></input>
      </p>
    </div>
</form>
</div>
</div>
</div>

<!--Footer-->
<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Something good that came out of 2020. Made with love by Brittney Huttner</p>
  </div>
</footer>
</div>
</body>


<script src="./static/js/auto-complete-home.js" defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB11EET8koZ6suc0RrFvHxpJj4lEmkt8do&libraries=places&callback=initAutocomplete"async defer></script>



{%endblock%}
 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
