{% extends 'base.html'%}

{%block title%}World of Mouth{%endblock%}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css"/>

{% endblock %}

{% block body%}

    <h2> World of Mouth</h2>
    

    <h3>Login</h3>
    
    <form action="/login" method="POST">
        <p class="text-primary">
          <label>Email:</label>
          <input type="text" name="email" required>
        </p>
        <p class="text-primary">
          <label>Password:</label>
          <input type="text" name="password" required>
        </p>
          <input type="submit">
    </form>
    <p>
    <a href="/register">New travelers, create account here</a>
    </p>

    <title>Place Autocomplete</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
  </head>
  <body>
    <div class="pac-card" id="pac-card">
      <div>
        <div id="title">
          Where to next?
          <br>
        </div>
      <div id="pac-container">
        <input id="pac-input" type="text"
            placeholder="Enter a city or country">
      </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB11EET8koZ6suc0RrFvHxpJj4lEmkt8do&libraries=places&callback=initMap"async defer></script>
  
  </body>
</html>

{%endblock%}

