{% extends 'base.html'%}

{%block title%}World of Mouth{%endblock%}

{% block body%}

    
    <button id="new-trip" type="button" class="btn btn-info" style= "height: 50px;">Start a new trip</button>
    <div id="form-container">
    </div>
    <script>
    $('#new-trip').on('click', (evt) => {
    evt.preventDefault();

    const selectedValue =$('#form-container');
    selectedValue.html(`<form action = "/create_route" method='POST'>
                        <input type= "text" name= "trip_description">
                        <input type= "submit">
                        </form>`)
    });

    </script>


    <h3>{{user.first_name}}'s Travels</h3>
    <ul>
        {%for route in view_routes%}
        <li for = "user-id">
            <a href="/api/view_stops/{{route.route_id}}">
                {{route.trip_description}}
            </a>
        </li>
        {%endfor%}
    </ul>
    </div>
{%endblock%} 

