{% extends 'base.html'%}

{%block title%}World of Mouth{%endblock%}

{% block body%}


<button id="new-trip" type="button" class="btn btn-info" style= "height: 50px;">Start a new trip</button>
<div id="form-container">
</div>
<script>
    $('#new-trip').on('click', (evt) => {
        evt.preventDefault();

        const selectedValue =$('#form-container');
        selectedValue.html(`<form action = "/create_route" method='POST'>
            <label>Trip description</label>
            <input type= "text" name= "trip_description" placeholder="Brief trip description">
            <br>
            <label>Trip type</label>
            <select name="trip-type" multiple>
            <option value="" disabled selected>What type of trip: Select one or many</option>
            <option value="1">solo</option>
            <option value="2">group</option>
            <option value="3">couples</option>
            <option value="4">food</option>
            <option value="5">adventure</option>
            <option value="6">health</option>
            <option value="7">culture</option>
            <option value="8">backpacking</option>
            <option value="9">digital nomad</option>
            </select>
            <br>
            <input type= "submit">
            </form>`)
    });

</script>


<h3>{{user.first_name}}'s Travels</h3>
<img src= "{{image}}"
class="cld-responsive">
<ul>
    <h4>Completed Trips</h4>
    {%for route in view_routes%}
    {%if route.is_completed is true%}
    <li for = "user-id">
        <a href="/api/view_stops/{{route.route_id}}">
            {{route.trip_description}}
        </a>
    </li>
    {%endif%}
    {%endfor%}
    <h4>Trips in progress</h4>
    {%for route in view_routes%}
    {%if route.is_completed is false%}

    <li for = "user-id">
        <a href="/api/view_stops/{{route.route_id}}">
            {{route.trip_description}}
        </a>
    </li>
    {%endif%}
    {%endfor%}
</ul>
</div>
<div>
    <h4>Bucket List</h4>
    {%for route in favorites%}
    <li for = "user-id">
        <a href="/api/view_stops/{{route.route_id}}">
            
            {{route.trip_description}}    
        </li>
        {%endfor%}
    </div>

    {%endblock%} 

