{% extends 'base.html'%}

{%block title%}World of Mouth: New Traveler Registration{%endblock%}

{% block body%}


    <h3>New Traveler Registration</h3>

    <div>

    <form action="/new_user" method="POST" enctype="multipart/form-data">
        <p>
          <label>first name:</label>
          <input type="text" name="first_name" required>
        </p>
        <p>
          <label>email:</label>
          <input type="email" name="email" required>
        </p>
        <p>
          <label>user name:</label>
          <input type="text" name="user_name" required>
        </p>
          <label>password:</label>
          <input type="password" name="password" required>
        </p>
        </p>
          <label>home country:</label>
          <input type="text" name="home_country" required>
        </p>
         <label for="image-upload"> image</label>
    <input id="image-upload" type=file name="image-upload"/>
    <br>
          <input type="submit">
    </form>

    <div>
 
{%endblock%}
