{% extends 'base.html'%}

{%block title%}Routes: World of Mouth{%endblock%}

{% block body%}
<div>
    <ul id="get-trips">
        <h2>Select a trip to see the full itinerary:</h2>
        {%for route in all_routes%}
        <li  for = "route-id">
            
            <a href="/api/view_stops/{{route.route_id}}">
                {{route.trip_description}}
            </a>
            <p>
                {%for route_id, (is_start, is_end) in stop_dict.items()%}
                {%if route.route_id == route_id %}
                Starts in {{is_start[0].city_name}}.
            </p>
            <p>
                {%if is_end|length>0%}
                Ends in {{is_end[0].city_name}}.
                {%endif%}
                {%endif%}
                {%endfor%}
            </p>    
            
            <button type="submit" id ="{{route.route_id}}" class= "view-trip btn btn-light" name="view_trip" value="{{route.route_id}}">View entire trip</button>
            {%endfor%}
        </li>
        
    </ul>

<div id="map-container">
<div id="map"></div>
</div>
</div>

<script src="http://0.0.0.0:5000/static/js/Map.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB11EET8koZ6suc0RrFvHxpJj4lEmkt8do&libraries=places&callback=initMap" async defer>
</script>

{%endblock%}

